*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

}
body{

/* background-color:white; */
  font-family: monospace;

}

.NAVV{

}
.form-check-input{
  display: none;
}
.sun{
  position: relative;
  margin-right: 20px;
  font-size: 30px;
  transform: rotate(360deg);
  transition: 30s;
}
@media only screen and (max-width: 600px) {
  .sun{
    position: relative;
    /* margin-left: -40px; */
    font-size: 20px;

  }
  .form-check-input{
    display:flex;
  }
}
.btn:hover{
  color: rgb(250, 250, 250);
}
input{
  background-color: burlywood;
}
.btn{
  gap: 5px;
  margin: 4px ;
}
.btn:hover{
  background-color: beige;
  color: black;

}